/*
    paleta de cores:
    primary: #EAECEF
    primary foreground: #002649
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  background-color: white;
}
/* COMPONENTES */

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #EAECEF;
  height: 130px;
  padding: 0 75px;
  box-sizing: border-box;
  border-bottom: #437ED8 solid 2px;
}

.navbar .navbar-logo {
  display: flex;
  flex-direction: row;
  width: 130px;
  height: 130px;
  align-items: center;
}

.navbar ul {
  justify-content: flex-end;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 70px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  align-self: center;
  font-size: 24px;
  font-weight: bold;
}

.navbar .login {
  gap: 0px;
}

.navbar .login img {
  background: #002649;
  border-radius: 50%;
  margin-right: 15px;
}

.navbar .login li a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.navbar .login li a span {
  font-size: 19px;
  font-weight: 500;
  display: block;
  color: black;
}

/* CARROSSEL */
.carousel {
  margin-top: 50px;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-self: center;
  width: 90%;
  height: 555px;
}


/* CAIXA DE TEXTO */
.polus-geral {
  display: flex;
  justify-self: center;
  margin-top: 50px;
  width: 90%;
  height: 700px;
}

.polus {
  position: relative;
  border: #002649 solid 10px;
  padding: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 570px;
}

.polus .caminhao {
  position: absolute;
  bottom: -90px;
  right: -8px;
  width: 390px;
  height: auto;
}

.polus .caminhao img {
  width: 100%;
  height: auto;
}

.polus .texto h1 {
  justify-self: center;
  color: #002649;
  font-weight: bold;
  font-size: 48px;
  margin: 0;
}

.polus .texto p {
  font-size: 30px;
  margin: 15px 0;
  line-height: 1.5;
  width: 80%;
}

.polus .texto .final-texto{
  width: 68%;
}

/* Calculadora */
.botao-calc {
  text-align: center;
}

.botao-calc button {
  width: 500px;
  height: 100px;
  background-color: #f1e74d;
  border: none;
  font-size: 30px;
  padding: 15px 30px;
  font-weight: bold;
  color: #09213f;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 100px;
}

/* SECÇÃO PARCEIROS */
.titulo {
  font-weight: bold;
  font-size: 48px;
  color: #000;
  padding-bottom: 14px;
  border-bottom: 6px solid #002649;
  width: fit-content;
}
.sub_titulo {
  font-weight: 400;
  font-size: 30px;
  margin-top: 30px;
}

.separador {
  display: block;
  border-bottom: 4px solid #437ed833;
  width: 80%;
  margin: auto;
}

.container {
  width: 100%;
  padding: 66px 5%;
}

/* PARCEIROS */

.div_parceiros .div_imagens {
  margin-top: 110px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.div_parceiro img {
  width: 280px;
  height: 280px;
}
.div_parceiro h2 {
  font-weight: 300;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}

/* SOBRE NÓS  */

.div_sobre_nos .div_card {
  width: 100%;
  margin-top: 110px;
  background-color: #e9e94c;
  padding: 66px;
  display: flex;
  align-items: center;
  gap: 64px;
  border-radius: 10px;
}

.div_card p {
  font-weight: 500;
  font-size: 30px;
  line-height: 70px;
  color: #002649;
}

.div_card .div_image img {
  width: 576px;
  height: 502px;
  border-radius: 10px;

  box-shadow: 35px 35px #002649;
}

/* RODAPÉ */
footer {
  width: 100%;
  padding: 32px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #002649;
}

footer img {
  width: 173px;
}

footer .div_links {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.link {
  font-size: 24px;
  font-weight: 500;
  color: #edbe00;
  text-decoration: none;
}
